.thanks-content{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
.thanks-img{
    height: 25vh;
    width: auto;
    display: flex;
}
.thanks-text{
    line-height: 1.6;
    text-align: justify;
    flex: 1;
}
.thanks-end{
    padding: 24px;
    height: 15vh;
    width: auto;
    display: flex;
    justify-content: center;
}