.to-play-content{
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}
.github-logo,.steam-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(12px, 1.5vw, 24px);
}
