.about-content{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
.about-img{
    padding: 0;
    height: 25vh;
    width: auto;
    display: flex;
}
.about-text{
    flex: 1;
    line-height: 1.6;
    text-align: justify;
}
.about-end{
    padding: 16px;
    height: 15vh;
    width: auto;
    display: flex;
    justify-content: center;
}