.nav{
  max-width: 1200px;
  width: 100%;
  min-height: 5vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 16px 16px;
  box-sizing: border-box;
  background-color: cadetblue;
}
.nav-list{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-list a{
  font-size: clamp(14px, 2vw, 32px);  
  color: white;
}
.nav-list li {
  white-space: nowrap;
}