.ost-content{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.ost-intro{
    padding: 16px;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
.dog-img, .cat-img{
    height: 25vh;
    width: auto;
    display: flex;
}
.ost-list{
    flex: 1;
    text-align: center;
}
ul{
    list-style: none;
}

@media (max-width: 768px){
    .ost-content{
        flex-direction: column;
        align-items: center;
    }
    .dog-img, .cat-img{
        height: 15vh;
        width: auto;
        display: flex;
    }
}