.head{
  max-width: 1200px;
  width: 100%;
  min-height: 15vh;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 16px 16px;
  box-sizing: border-box;
  /* background-color: aquamarine; */
  font-size: clamp(14px, 2vw, 32px);  
}