.head{
  max-width: 1400px;
  width: 100%;
  min-height: 15vh;
  padding: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  /* background-color: aquamarine; */ 
}
@media (max-width: 768px){
  .head{
    min-height: 15vw;
  }
}