.site-wrapper{
  max-width: 1200px;
  min-width: 100%;
  margin: 0 auto;
  padding: 24px 16px;
  display: flex;
  gap: 24px;
  flex-direction: column; 
  background-color: #848484;
  width: 100vh;


}