@font-face {
  font-family: "Determination Sans";
  src: 
    url("./assets/fonts/Determination-Sans.woff2") format("woff2"),
    url("./assets/fonts/Determination-Sans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Monster Friend Fore";
  src: 
  url("./assets/fonts/Monster-Friend-Fore.woff2") format("woff2"),
  url("./assets/fonts/Monster-Friend-Fore.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: "Determination Sans", sans-serif;
  color: aliceblue;
  background-image: url("./assets/background/site_background.png");
  background-color: black;
}
h1,h2{
  font-family: "Monster Friend Fore", sans-serif;
  color: aliceblue;
}

.main-contener{
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: blue;
}
.main{
  max-width: 1200px;
  width: 100%;
  min-height: 675px;
  align-items: center;
  margin: 0 auto;
  padding: 16px 16px;
  box-sizing: border-box;
  background-color: brown;
}
p,h1{
  margin: 0;
}