.footer{
  max-width: 1200px;
  width: 100%;
  min-height: 80px;
  margin: 0;
  padding: 16px 16px;
  box-sizing: border-box;
  /* background-color: chartreuse; */
}
.contacts{
  list-style: none;
  display: flex;
  gap: clamp(24px, 1.5vw, 32px); 
}